
{% if site.friends %}
<div class="related-friend-lists">
    <div class="friend-lists col-lg-8">
      <div class="friend-lists-body">
        {% for friend in site.friends %}
          <div class="friend-list-item">
              <div class="friend-list-item-container">
                  <div class="item-label">
                      <div class="item-title">
                        <a target="_blank" rel="friend" href="{{ friend.href }}">{{ friend.title }}</a>
                      </div>
                      <div class="item-meta clearfix">
                          <div class="item-meta-ico bg-ico-design" style="background: url({{ friend.avatar }}) no-repeat;background-size: 40px auto;"></div>
                          <div class="item-meta-cat">
                            <a target="_blank" rel="friend" href="{{ friend.href }}">{{ friend.description }}</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endif %}
